
@media (max-width: 1350px) {
    /* section 3 */
    .services-section {
        height: 100%;
    }
    .section-icon {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 30px;
    }
    .box img {
        width: 200px;
        height: 200px;
    }
    /* section 5 */
    .testimonials-section {
        height: 100%;
    }
    .testimonial-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    /* section 6  */
    .package-content {
        flex-wrap: wrap;
    }
    .package-box {
        margin: 20px 0;
    }
    .footer {
        display: flex;
        flex-wrap: wrap;
    }
    .footer__nav {
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
    }
    .footer__paragraph {
        font-size: 11px;
        max-width: 50rem;
        margin: 0 auto;
    }
    .footer__icons {
        padding: 10px;
    }
}
@media (max-width: 1262px){
    .work-portfolio {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1100px){
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .laptop-img {
        padding-top: 5rem;
    }
    .span1 {
        max-width: 60rem;
        margin: 0 auto;
    }
}
@media (max-width: 768px) {
    
    .work-section {
        height: 100%;
        padding-bottom: 40px;
    }
    .work-portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }
    .work-portfolio li {
        width: 300px;
    }
    /* section 3 */
    .services-section {
        height: 100%;
    }
    .section-icon {
        display: flex;
        flex-wrap: wrap;
    }
    /* section 4 */
    .section-icon {
        justify-content: center;
    }
    .box img {
        width: 200px;
        height: 200px;
    }
    /* section 5 */
    .testimonials-section {
        height: 100%;
    }
    .testimonial-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    /* section 6  */
    .package-content {
        flex-wrap: wrap;
    }
    .package-box {
        margin: 20px 0;
    }
}

@media (max-width: 678px) {

    /* header */
    .div-logo {
        width: 100%;
        height: 5vh;
    }
    .logo {
        width: 69px;
        height: 59px;
    }
    .navigator {
        display: flex;
        /* flex-direction: column; */
    }
    .main-nav {
        display: flex;
        /* flex-direction: column; */
        align-items: center;
    }
    .main-nav li {
        padding: 30px 0 0;
        margin-right: 20px;
    }
    .main-nav li a {
        font-size: 15px;
    }
    .header-box-text h1 {
        font-size: 6rem;
        margin: 0;
        padding-bottom: 10px;
    }
    .header-box-text h2 {
        font-size: 2rem;
        margin: 0;
        padding-bottom: 40px;
    }
    /* section1 */
    .about-heading {
        font-size: 35px;
    }
    .about-parag {
        padding: 0 12px;
    }
    /* section 2 */
    .work-parag {
        font-size: 10px;
    }
    /* form */
    .contact {
        width: 80%;
    }
    .contact-form {
        width: 100%;
        padding: 0;
    }
    .contact-form__box1 {
        padding-left: 40px;
    }
    .contact-form__label {
        font-size: 20px;
    }
    .contact-form__input {
        width: 80%;
    }
    .contact-form__box3 textarea {
        width: 80%;
    }
    .section-heading {
        font-size: 30px;
    }
    
    
}
@media (max-width: 400px) {
    .header-box-text h1 {
        font-size: 40px;
    }
    .header-box-text h2 {
        font-size: 20px;
    }
    .section-sub-heading {
        font-size: 15px;
    }
    .about-heading{
        font-size: 25px;
    }
    .about-parag {
        font-size: 15px;
    }
    .work-parag {
        font-size: 8px;
    }
    .box img {
        width: 100px;
        height: 100px;
    }
    .package-box {
        width: 280px;
    }
    .icon-tabler {
        height: 8rem;
    }
    .contact-form__box3 textarea {
        height: 100px;
    }
    .icon-row h4 {
        font-size: 35px;
    }
    .icon-row p {
        font-size: 20px;
    }
    .main-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navigator {
        display: flex;
        flex-direction: column;
    }
    .header-box {
        align-items: flex-start;
        margin-top: 10rem;
    }
}
